body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-text {
  font-size: 20pt;
  /* background-color: #e5e2e0; */
  color: #f5f2f0;
}

section.row.header {
  background-color: #978f80;
}

button.btn-close.btn-close-white {
  /* background-color: rgb(122, 122, 122); */
  margin-top: 0.5em;
  margin-left: 3.8em;
  cursor: pointer;
}

div#side-bar {
  background-color: #f5f2f0;
  padding: 1em;
  border-radius: 15px;
  color: #635f5d;
  /* padding-right: 0%; */
}

div#continue-or-discrete {
  display: flex;
  padding-left: 0%;
  margin-top: 1em;
}

div#even-space {
  display: flex;
  padding-left: 0%;
}

label {
  font-size: 10pt;
}

label.nice-text {
  font-size: smaller;
}
.div#numeric-field {
  padding-right: 0;
  margin-right: 0;
}

div#primary-legend {
  padding-right: 0;
}

span.react-numeric-input {
  font-size: 10pt;
}

div#min-max-bounds {
  padding-left: 0;
}

svg.primary-legend-bars {
  padding-right: 0;
}

.row.numeric-input {
  padding-left: 0;
}

p#data-loaded-text {
  text-align: end;
  color: #ff00e1;
  font-style: oblique;
}
div#data-loader {
  padding: 1%;
  background-color: #f5f3f2;
  border-radius: 10px;
}

section#button-area {
  padding-left: 0%;
}

div#items {
  padding: 0%;
}

button.btn {
  background-color: #978f80;
  border: #978f80;
}

text.wtm-text-linear {
  text-anchor: end;
}
text.wtm-text-iris {
  text-anchor: start;
}

label#primary-label {
  font-size: 14pt;
  padding-left: 0%;
  margin-top: 1em;
}

label#secondary-label {
  font-size: 14pt;
  padding-left: 0%;
  margin-top: 1em;
}

select.form-control {
  align-items: flex-start;
}

div.col-7.button {
  padding-left: 1.5em;
}
div.col-4.button {
  padding-left: 1.5em;
}

label#period-label {
  font-size: 14pt;
  padding-left: 0%;
  margin-top: 1em;
}

div.row.period {
  padding-left: 0%;
}
div#save-to-png {
  padding-left: 0%;
}

span#text-instruct {
  font-size: 10pt;
  padding-right: 0%;
  padding-left: 0%;
}

li.text-guide {
  font-size: 10pt;
  /* border-left-style: groove; */
  list-style-type: square;
  list-style-position: inside;
}

div#guide-text-area {
  padding-right: 0%;
  margin-right: 0%;
}

ul#guide {
  padding-left: 0%;
  padding-right: 0%;
}
text#debuger {
  font-size: 2pt;
}

form-check.form-check-inline {
  float: inline-start;
}

input#colorpicker-line {
  width: 50%;
}

input#colorpicker-bin {
  width: 50%;
}
